/* CSS Document */
*{
	font-family: "lato" ;
	src: url("../font/Lato-Regular.ttf");
	
}


/*nav menu style*/

.navMobile{display: none;}
.navMenu{
    width: 100%;
    background-color: #5B7671;
	padding-top: 5px;
    
}

.imgDiv{
	margin-left:1%;
	height: 100px;
	width: 120px;
}

.imgDiv img{
	width: 120px;
	height: 100px;
	object-fit:cover;}

.navContainer{
	margin-top: 5px;
	background-color: #00594C;
}

.navUl{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navUl li{
	width: 13%;
	float: left;
}

.navUl li a{
  display: block;
  color: white;
  background-color: #2b3e3b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16;
}

.navUl li a:hover{
	background-color: #DEA912;
}

#currentPage{
	background-color: #62987C;
}

#currentPage:hover{
	background-color: #DEA912;
}

/*end nav menu styling*/

/*styling 2nd row homepage*/
#homepageImg{
	width: 90%;
	padding-top: 40%;
	-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}



.homepageTextDiv{
	margin-top: 30%;
	text-align: center
}

.homeButton{
	background-color:#5B7671;
	border: none;
   text-align:center;
   line-height:1.1em;
   font-size:1.1em;
	border-radius: 8px;
   max-width: 100px;
   margin: 0 auto;
    width: 100px;
height: 40px;
margin-top: 10px;
}

.homeButton a{
    color: white;
}

.homeButton a:hover{
    color: #DEA912;
    text-decoration: none;
}

#contactUsHomeButton{
    background-color:rgba(0,0,0,0.00);
    border: 1px solid #DEA912;
    position: absolute;
bottom: 35%;
top: 90%;
right: 10%;
}

#contactUsHomeButton a{
    color: #DEA912;
}

#contactUsHomeButton:hover{
   background-color: #5B7671;
}

/*style jobPage*/
.goTopJob{
    display:none;
}
 .resTitleSelectDiv{
        display:none; 
    }
.pageImg{
    
	width: 15%;
	/*margin-top: 50%;*/
	 position: fixed;
    bottom: 0;
}

.jobSearchDiv{
    padding-top: 20px;	
}


#selectedTitle{
	color: #000000;
	background-color: #62987C !important;
    border: none;
}

#selectedTitlrBtnSearch{

	background-color: #62987C;
	border-top-left-radius: 0;
border-bottom-left-radius: 0;
}

#resultTitle button{
	margin-top: 3%;
	background-color: #62987C;
	border: none;
	border-radius: .25rem;
}
/*end job page styling*/

.container{
    max-width: none !important;
    padding: 0 0 0 0 !important;
}

.row{margin: 0 0 0 0 !important;
     padding: 0 0 0 0 !important;
}

.col{
	margin: 0 0 0 0 !important;
     padding: 0 0 0 0 !important;
}

.col-sm-2 {
	border-right: 1px solid #707070;
    height: calc(100vh - 162px);
	
}

.pieChartDiv{
	margin: 0 auto;
    margin-top: 12%;
}
.lineChartDiv{
    margin-top: 5%
}
.barChartDiv{
    margin-top: 5%;}
.jobPExpand{
    display: none;
}

.arrowDown{
    display: none;
}

::placeholder {
  color: #DCDCDC;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #DCDCDC;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #DCDCDC;
}
.form-control::placeholder {
  color: #DCDCDC !important;
}
/*start styling uni page*/
.uniColLeftDiv{
    margin-top: 13%;
}

.uniColLeftDiv h5{
    padding-top: 7%;
}
#uniPageLeft{height: auto;}
#uniPageLeft{
	background-color: rgba(62,128,95,0.50);
	border-right: none;
}

#uniPageImg{
	-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.colUniPageCenter{
    text-align: center;
}

.uniListDiv{
    font-size: 1.5rem;
}
.uniListUl{
    list-style: none;
    margin-top: 5%;
}
.uniListDiv li{
   padding-bottom: 2%;
  
}

.uniListDiv li a{
    color: black;
}

.uniListDiv li a:hover{
    color:#DEA912;
    text-decoration: none;
}

.showMoreBtn{
    border-top: 3px solid #DEA912;
    
}

.showMoreBtn:hover{
    background-color: #62987C;
    border-radius: 8px;
    cursor: pointer;
     border-top: 1px solid #DEA912;
}

#uniSearch{
	color: #000000;
	background-color: #62987C !important;
    border: none;
}

#uniSearchBtn{

	background-color: #62987C;
	border-top-left-radius: 0;
border-bottom-left-radius: 0;
}
.ln-letters{
	margin-top: 6%;
}

.ln-letters a{
    border: 1px solid #62987C;
color: black;

border-radius: 50%;
margin: 3px;
border-right: 1px solid #62987C;
    background-color: #62987C;
}

.ln-letters .ln-last {
    border-right: 1px solid #62987C;
}

.ln-letter-count {
    color:   black;
}

.ln-letters a:hover,
.ln-letters .ln-selected {
  background-color: #DEA912;
  color: black;
    border: 1px solid #DEA912;
    text-decoration: none;
}

.uniPageLinks{
    background-color: rgba(62,128,95,0.50);
}
.imgLink{
    width: 20%;
  
    
}

.uniPageLinksDiv{
margin-top: 13%;   
font-size: 1rem;
}
.uniPageLinksDiv a{
   color: black;
   
}

.uniPageLinksDiv a:hover{
      color:#DEA912;
    text-decoration: none;
}

.linkSubDiv{
    margin-top: 5%;
    vertical-align: middle;
	height: 124px;
max-height: 124px;
}

#govImg{
    margin-left: 45%;
    
}
#turn2usImg{
    margin-left: 38%;
}
#scholHubImg{
    margin-left: 21%;
}

.uniCol{
   /* height: calc(100vh - 162px);*/
    padding-bottom: 3%;
}

.uniFunTextDiv{
    text-align: center;
}
/*end styiling uni Page*/
/*start styling aboutUsPage*/
.aboutPageCol{
    text-align: center;
}

.aboutUsDiv{
    margin-top: 3%;
}

.aboutPageImg{
      
	width: 30%;
	/*margin-top: 50%;*/
	 position: fixed;
    bottom: 0;
    right: 0;
}

.contactUsForm{
    background-color: #9ebfae;
  
}

.contactUsForm input{
    background-color: #62987c;
    border:none;
    border-radius: 8px;
   /* height: calc(1.5em + .75rem + 2px);*/

    margin-bottom: 5%;
}

.radio{
    float: left;
    margin-left: 20%;
}
.contactUsForm textarea{
    background-color: #62987c;
    border:none;
    width: 90%;
    resize: none;
    height: 300px;
    border-radius: 8px;
}

.contactUsForm label{
    text-align: left;
}

.contactUsForm button{
    float: right;
    background-color: #DEA912;
    color: black;
    border: none;
    border-radius: 8px;
    margin: 4% 9% 0 0;
}

.contactUsForm button:hover{background-color: #62987c;}

.formColLeftDiv{
    text-align: left;
    margin-left: 15%;
}
.formColRightDiv{
     text-align: left;
  
}
.aboutPageContentWrapper{
    margin-top: 5%;
}
/*end styling about us page*/


/*media query for medium sized screens*/
@media only screen and (max-width: 768px) {
    .navMenu{display: none;}
    .navMobile{
        display: block;
        overflow: hidden;
  background-color:#00594C;
  position: relative;    
    }
    
    .navMobile #myLinks {
  display: none;
}
    .active {
  background-color: #5b7671;
  color: white;
}
    .navMobile a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.navMobile a.icon {
  background: #00594C;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
     padding: 10px 10px 10px 10px;
}
    
#myLinks a:hover {
  background-color: #dea912;
  color: black;
    text-decoration: none;
}  
    .imgDiv{
        width: auto;
        height: auto;
        margin: auto;
    }
    
    .homepageTextDiv{
        margin-top: 5%;
        padding: 0 50px 0 50px;
    }
    
    #homepageImg{
        width: 65%;
        padding: 20px 0 0 0;
        
    }
    #contactUsHomeButton{top: 125%;}
    
    #colLeft{
        border-bottom: 1px solid #dea912;
    }
    
    #resultTitle{display: none;}
    
    .resTitleSelectDiv{
        display:block; 
        margin-bottom: 35%;
    }
    
    .resTitleSelect{
        background-color:  #62987C;
        border: none;
        border-radius: 8px;
        font-size: 1rem;
        padding: 6px;
    }
    .pageImg{
        position: absolute;
        width: 30%;
        left: 60%;
    }
    
    .jobPExpand svg{
        position: absolute;
    right: 15px;
    top: 4px; 
        fill:#62987C;
    }
    
    .goTopJob{
        top: 95%;
    }
    /*uni page medium Style*/
    .uniPageLinksDiv{
        margin-top: 2%;
        
    }
    
    .imgLink{
        width: 15%;
        float: right;
    }
    #scholHubImg{
        width: 15%;
    }
    .linkSubDiv{
        margin-top: 4%;
    }
    
    .uniColLeftDiv{
        margin: 0%;
    }
    .uniColLeftDiv h5 {
    padding-top: 0%;
}
    .ln-letters{
        padding-bottom: 19%;
    } 
    #uniPageImg {
    -webkit-transform: none;
    transform: none;
}
    /*about us Page*/
    .aboutPageImg{
        position: inherit;
    }
    
}