/* CSS Document */
*{
	font-family: "lato" ;
	src: url("../font/Lato-Regular.ttf");
	
}
/*nav menu style*/
.navMenu{
    width: 100%;
    background-color: #62987C;
	padding-top: 5px;
    
}

.imgDiv{
	margin-left:1%;
	height: 100px;
	width: 120px;
}

.imgDiv img{
	width: 120px;
	height: 100px;
	object-fit:cover;}

.navContainer{
	margin-top: 5px;
	background-color: #00594C;
}

.navUl{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navUl li{
	width: 13%;
	float: left;
}

.navUl li a{
  display: block;
  color: white;
  background-color: #2b3e3b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navUl li a:hover{
	background-color: #DEA912;
}

/*end nav menu styling*/

/*styling 2nd row homepage*/
#homepageImg{
	width: 90%;
	padding-top: 40%;
	-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}



.homepageTextDiv{
	margin-top: 30%;
	text-align: center
}

.homeButton{
	background-color:#5B7671;
	border: none;
	color: white;
	max-width: 120px;
	width:120px;
   height:50px;
   text-align:center;
   line-height:1.1em;
   font-size:1.1em;
	border-radius: 8px;

}


.container{
    max-width: none !important;
    padding: 0 0 0 0 !important;
}

.row{margin: 0 0 0 0 !important;
     padding: 0 0 0 0 !important;
}

.col{
	margin: 0 0 0 0 !important;
     padding: 0 0 0 0 !important;
}
